# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Python virtual environments
.venv/

# Python bytecode caches
__pycache__/
*.pyc

# tests/
tests/tmp/*
!tests/tmp/README.md

# Local-only lsbranch reports
reports/branch/branch-*.md

# commit/push/pull/mrgdown/mrgup reports
reports/branch/commit-*.md
reports/branch/push-*.md
reports/branch/pull-*.md
reports/branch/mrgdown-*.md
reports/branch/mrgup-*.md

# Local-only ckstyle reports
reports/guidelines/ckstyle-*.md

# Repository reports
reports/repository/clone-*.md

# Repository reports
reports/repository/fork-*.md

# Repository reports
reports/repository/repository-*.md
